/* reset some default styling */
body, ul {
    margin: 0;
    padding: 0;
  }

/* styling for navbar */
.navbar {
    background-color: #424242;      /* dark grey background */
    padding: 0.5rem 1rem;             /* vert and hor padding; rem = size of root font */
  }

/* styling for the navigation links */
.nav-links {
    list-style-type: none;          /* no bullet points */
    display: flex;                  /* arrange items in a row */
    justify-content: space-around;  /* even spacing around each item */
  }

/* styling of individual link elements */
.nav-links li a {
    color: #ffffff;         /* cream color text */
    text-decoration: none;    /* remove underlines, no deco */
    padding: 0.5rem 1rem;     /* inner padding for clickable area */
    display: block;           /* make the entire area clickable */
  }

/* change background and round corners on hover */
.nav-links li a:hover {
    background-color: #464646;
    border-radius: 4px;
  }

/* style h1 */
h1 {
    font-size: 2.5rem;
    color: #ffffff;              
    background-color: #575757;   
    padding: 1rem;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #555;
  }
  